<div class="container">
  <h1>{{ name }}</h1>

  <dl>
    <td>Nombre:</td>
    <dd>{{ name }}</dd>

    <td>Edad:</td>
    <dd>{{ age }}</dd>

    <td>Método:</td>
    <dd>{{ getHeroDescription() }}</dd>

    <td>Capitalizando:</td>
    <dd>{{ capitalizedName }}</dd>
  </dl>
  <div *ngIf="name !== 'spiderman'">
    <button class="btn btn-primary" (click)="changeHero()">
      Cambiar Nombre
    </button>
  </div>
  <button class="btn btn-success" (click)="changeAge()">Cambiar edad</button>
</div>
